@model IEnumerable<Reviews>

<h2>Reviews</h2>

<div style="display: block">
    <a href="/Reviews/InsertReview/">Add a review:</a>
</div>


<table class="table">
    <tr>
        <th>Review ID</th>
        <th>Product ID</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Comment</th>
        
    </tr>

    @foreach (var review in Model)
    {
        <tr>
            <td><a href=/Reviews/ViewReview/@review.ReviewID>@review.ReviewID</a></td>
            <td><a href=/Product/ViewProduct/@review.ProductID>@review.ProductID</a></td>
            <td>@review.Reviewer</td>
            <td>@review.Rating</td>
            <td>@review.Comment</td>
         
        </tr>

    }
</table>
